/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

iframe{
  border: 2px solid black;
}
iframe:hover{
  border: 2px solid red;
}
.black{
  color: black;
}
.gallery{
  margin-top: 70px;
}
.gallery-pic{
  max-height: 100% !important;
  max-width: 100% !important;
  border: 2px solid black;
  transform: scale(1);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
.gallery-pic:hover{
  border: 2px solid red;
  transform: scale(1.05);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
.highlightText, .link, .contact-wrap{
  transition: border 0.5s, box-shadow 0.5s;
  -webkit-transition: border 0.5s, box-shadow 0.5s;
  -ms-transition: border 0.5s, box-shadow 0.5s;
  -moz-transition: border 0.5s, box-shadow 0.5s;
  -o-transition: border 0.5s, box-shadow 0.5s;
}

i{
  /*padding: 5px;*/
  /*box-shadow: 2px 2px 2px black;*/
  border-radius: 50%;
  color: white;
}

.fa-file-pdf-o, .fa-file-word-o{
  color: black;
}
.thumbnail{
  max-width: 300px;
}


 #aboutMeText{
  margin-bottom: 50px;
  font-size: 2em;
}
#AmLogo{
  margin-top: 10px;
  margin-bottom: 47px;
  margin-right: 50px;
  padding: 20px;
  /*border: 5px solid rgba(0,255,255,0.1);*/
  border-radius: 20px;
  max-width: 100%;
}
#artPic, #animationPic{
  margin-bottom: 13px;
}
#bannerPic{
}
#logo-container{
  cursor: pointer;
}
.fa-arrow-left{
  cursor: pointer;
  color: black;
}
body{
  /*font-family: 'Fjalla One', sans-serif;*/
  /*font-family: 'Yanone Kaffeesatz', sans-serif;*/
  font-family: 'Acme', Tahoma, sans-serif;
  background-color: #E8E8E8;
}
button{
  display: inline;
  margin-top: 20px;
  border-radius: 20px;
  /*border: 5px solid rgba(255,255,255, 0.2);*/
}
.button{
  background-color: #33ccff;
  border: 5px solid rgba(0,0,0,0.2);
  transform: scale(1);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
.button:hover{
  /*background-color: #0099ff;*/
  background-color: #33ccff;
  border: 5px solid rgba(0,0,0,0.3);
  transform: scale(1.1);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
.button-collapse {
  color: #26a69a;
}
button:hover{
  /*border: 5px solid white;*/
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0,0,0, 0.3);
  /*width: 110%;*/
}
.center-text{
  text-shadow: 2px 3px black;
}
#down-arrow{
  margin-left: 50px;
}
#email, .white{
  color: white;
  text-decoration: none !important;
}
footer.page-footer {
  margin: 0;
}
#GaLogo{
  /*border: 5px solid rgba(0,255,255,0.1);*/
  border-radius: 20px;
  max-width: 100%;
}
.highlightText:hover, .link:hover{
  border: 5px solid rgba(0  ,255,255,1);
  border-radius: 20px;
}
h5{
  margin-bottom: 15px;
}
.icon-block {
  padding: 0 15px;

}
.icon-block .material-icons {
  font-size: inherit;
}
#kevPic{
  border: 5px solid white;
  border-radius: 50%;
  width: 30%;
}
.link{
  max-width: 100%;
  border: 5px solid rgba(0,255,255,0.1);
  border-radius: 20px;
  padding: 10px;
  color: #00BFFF;
  text-shadow: 1px 1px black;
}
.material-icons{
  color: black;
  cursor: pointer;
}
.mobile-pic{
  /*border: 2px solid black;*/
  border-radius: 50px;
  width: 70px;
  /*margin-left: 50%;*/
  margin-top: 10px;
}
#navbar{
  background-color: black;
  margin-bottom: 20px;
  display: block;
  height: 62px;
}
#navbar a{
  font-size: 16px;
  display: inline-block;
  line-height: 37px;
  height: 60px;
  padding: 12px 30px;
  top: -10px !important;
}
#navbar a.active, #navbar a:hover{
  background-color: #333;
}
footer{
  text-align: center;
}
nav ul a,
nav .brand-logo {
  color: #444;
}
.semi-white{
  background-color: rgba(255,255,255,0.9);
}
#navey-nav{
  position: fixed;
  z-index: 200;
  border-bottom: 2px solid black;
}
#navey-nav2{
  position: fixed;
  z-index: 200;
  border-bottom: 2px solid black;
}
.navey-nav-wrapper{
  margin-top: 80px;
}
#project1Pic, .highlightText, #project4Pic, #artPic, #animationPic, #travelPic, #bannerPic{
  max-width: 100%;
  /*border: 5px solid rgba(0,255,255,0.2);*/
  border-radius: 20px;
  padding: 10px;
}
 .highlightText{
  border: 5px solid rgba(0,255,255,0.2);
  transform: scale(1);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
 .highlightText:hover{
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  /*width: 500px !important;*/
  transform: scale(1.05);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
 }
#project4Pic{
  margin-top: 40px;
}
p {
  line-height: 2rem;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.project{
  float: left;
  margin-top: 20px;
  margin-bottom: 30px;
}
.parallax-container .section {
  width: 100%;
}
#resume-pdf{
  padding: 10px;
}
#sidenav-overlay{
    z-index: 999 !important;
    position: inherit;
  }
#travelPic{
  margin-top: 35px;
}
.text{
  font-size: 20px;
}
#wordWrap{
  word-wrap: break-word;
}
.z{
  opacity: 0;
}




@media only screen and (max-width : 992px) {
  #aboutMeText{
    font-size: 20px;
    margin-bottom: 50px;
  }
  #down-arrow{
    width: 5%;
  }
  #hobbies{
    margin-top: -80px;
  }
  #index-banner .section {
    top: 10%;
  }
  .gallery-pic, .button, .hightlightText{
    transform: scale(1);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
  }
  .gallery-pic:hover, .button:hover, .hightlightText:hover{
    transform: scale(1);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
  }
  #kevPic{
    width: 20%;
  }
  .kevPortfolioText{
    font-size: 25px;
    margin-top: -30px;
  }
  #navey-nav{
    position: fixed;
    /*top: 0 !important;*/
  }
  #sidenav-overlay{
    z-index: 999 !important;
  }
  .navey-nav-wrapper{
    margin-top: -100px !important;
  }
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #samples{
    font-size: 35px;
  }
  .text-shadow{
    text-shadow: 2px 2px #black;
  }
  #navbar a{
    padding: 12px 10px;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  #aboutMeText{
    font-size: 1.3em;
  }
  .interestsText{
    margin-top: -50px;
  }
  .gallery-pic, .button, .highlightText{
    transform: scale(1);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
  }
  .gallery-pic:hover, .button:hover, .highlightText:hover{
    transform: scale(1);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
  }
  .button:hover{
    background-color: #33ccff;
    border: 5px solid rgba(0,0,0,0.2);
    box-shadow: 10px 10px 10px rgba(0,0,0, 0.0);  
  }
  .kevPortfolioText{
    font-size: 25px;
    margin-top: -10px;
  }
  #kevPic{
    width: 30%;
  }
  .link, .link:active, .link:hover{
    border: 2px solid rgba(0,0,0,0.0);
  }
  .contact-wrap{
    border: 5px solid rgba(0,255,255,0.1);
    border-radius: 20px;
    padding: 10px;
  }
  .contact-wrap:hover{
    border: 5px solid rgba(0,255,255,0.5);
    box-shadow: 5px 5px 5px rgba(0,0,0.0.3);
    border-radius: 20px;
  }
  /*.navey-nav-wrapper{
  margin-top: -100px !important;
}*/
  #samples{
    font-size: 30px;
  }
  #navbar a{
    padding: 12px 5px;
  }
  #sidenav-overlay{
    z-index: 999 !important;
  }
}


