/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
*{
  /*overflow-x: hidden;*/
}
.first{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
iframe{
  border: 2px solid black;
}
iframe:hover{
  border: 2px solid red;
}
.black{
  color: black;
}
.gallery{
  margin-top: 70px;
}
.gallery-pic{
  max-height: 100% !important;
  max-width: 100% !important;
  border: 2px solid black;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition: all 0.5s ease;
}
.gallery-pic:hover{
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  border: 2px solid red;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: all 0.5s ease;
}
.highlightText, .link, .contact-wrap{
  transition: border 0.5s, box-shadow 0.5s;
  -webkit-transition: border 0.5s, box-shadow 0.5s;
  -ms-transition: border 0.5s, box-shadow 0.5s;
  -moz-transition: border 0.5s, box-shadow 0.5s;
  -o-transition: border 0.5s, box-shadow 0.5s;
}
#hobbies{
   
}
.samples{
  color: black;
  display:  inline;
  font-size: 55px;
  position: absolute;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  /*opacity: 0.1;*/
}
.samplesText{
  position: absolute;
  /*position: relative;*/
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  /*left:49%;*/
  margin-left: 35%;
  /*margin-left: 450px;*/
  /*font family*/
  /*font-family: 'Acme', Tahoma, sans-serif;*/
  font-family: 'Cherry Cream Soda', cursive;
  /*font-family: 'Rammetto One', cursive;*/
  /*font-family: 'Shrikhand', cursive;*/
  /*font-family: 'Permanent Marker', cursive;*/
  /*font-family: 'Boogaloo', cursive;*/
}
#samples1{
  margin-left: 0px;
}
#samples2{
  margin-left: 65px;
}
#samples3{
  margin-left: 110px;
}
#samples4{
  margin-left: 200px;
}
#samples5{
  margin-left: 245px;
}
#samples6{
  margin-left: 290px;
}
#samples7{
  margin-left: 370px;
}
#samples8{
  margin-left: 415px;
}
#samples9{
  margin-left: 460px;
}
#samples10{
  margin-left: 525px;
}
#samples11{
  margin-left: 570px;
}
#samples12{
  margin-left: 610px;
}
#samples13{
  margin-left: 650px;
}
#samples-orig{
  display: none;
}
.samples-before{
  left: 0px;
  transition: all 0.6s ease;
  opacity: 0;
  /*transform: rotate(45deg);*/
}
.samples-after{
  left: -350px;
  transition: all 1s ease;
  opacity: 1;
  /*transform: rotate(0deg);*/
}

i{
  /*padding: 5px;*/
  /*box-shadow: 2px 2px 2px black;*/
  border-radius: 50%;
  color: white;
}

.c-logo {
  $size: 300px;
  /*width: $size;*/
  height: $size;
  /*background-color: #7e56ff;*/
  /*background-image: linear-gradient(150deg, #5a00ff 0%, #ff1ff7 100%, #ff1ff7 100%);*/
  box-shadow: 0 20px 27px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 4em;
  font-weight: 300;
  transform-style: preserve-3d;
  transform: perspective(500px);
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /*width: 100%;*/
    box-shadow: 0 20px 70px -10px rgba(black, .7), 0 50px 100px 0 rgba(black, .2);
    z-index: -1;
    transform: translateZ(-20px);
    transition: .5s;
  }

  > span {
    display: block;
    transform: translateZ(50px) scale(.7);
  }

  &:hover {
    &:after{
      transform: translateZ(-50px);
    }
  }
}

.fa-file-pdf-o, .fa-file-word-o{
  color: black;
}
.thumbnail{
  max-width: 300px;
}
.seen{

}
.project-blocks{
  margin-top: 150px;
}

 #aboutMeText{
  margin-bottom: 20px;
  top: 20px;
  font-size: 2em;
  position: relative;
}
#AmLogo{
  /*margin-top: 10px;*/
  margin-bottom: 40px;
  margin-right: 50px;
  padding: 20px;
  /*border: 5px solid rgba(0,150,255,0.1);*/
  border-radius: 20px;
  max-width: 100%;
}
#artPic, #animationPic{
  margin-bottom: 13px;
}
#bannerPic{
}
#logo-container{
  cursor: pointer;
}
#link1, #link2, #link3, #link4{
  /*position: absolute;*/
  /*opacity: 0;*/
}
.fa-arrow-left{
  cursor: pointer;
  color: black;
}
body{
  /*font-family: 'Fjalla One', sans-serif;*/
  /*font-family: 'Yanone Kaffeesatz', sans-serif;*/
  font-family: 'Acme', Tahoma, sans-serif;
  background-color: #f2f2f2;
}
button{
  display: inline;
  margin-top: 20px;
  border-radius: 20px;
  /*border: 5px solid rgba(255,255,255, 0.2);*/
}
.button{
  background-color: #33ccff;
  border: 5px solid rgba(0,0,0,0.2);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  box-shadow: 3px 3px 3px rgba(0,0,0, 0.3);
}
.button:hover{
  /*background-color: #0099ff;*/
  background-color: #33ccff;
  border: 5px solid rgba(0,0,0,0.3);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
.button-collapse {
  color: #26a69a;
}
button:hover{
  /*border: 5px solid white;*/
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0,0,0, 0.3);
  /*width: 110%;*/
}
.center-text{
  text-shadow: 2px 3px black;
}
#down-arrow{
  margin-left: 50px;
}
#email, .white{
  color: white;
  text-decoration: none !important;
}
footer.page-footer {
  margin: 0;
  /*background: linear-gradient(#003E5B, black);*/
  background: linear-gradient(#009aa4, #02547a, #001924);
  /*background: ;*/
}
.footer-copyright{
  background: #201534;
}
#GaLogo{
  /*border: 5px solid rgba(0,150,255,0.1);*/
  border-radius: 20px;
  max-width: 100%;
}
.highlightText:hover, .link:hover{
  border: 5px solid rgba(0,200,255,0.6);
  border-radius: 20px;
}
h5{
  margin-bottom: 15px;
}
.icon-block {
  padding: 0 15px;

}
.icon-block .material-icons {
  font-size: inherit;
}
#background1 {
  opacity: 0;
}
#background2 {
  /*opacity: 0;*/
  position: relative;
  /*margin-top: 100px;*/
  bottom: 0 !important;
  /*margin: 0 auto;*/
  z-index: 10;
}
.cherry{
  font-family: 'Cherry Cream Soda', cursive;
}
.zoom-right{
  opacity: 1;
  margin-left: 0px;
  transition: all 0.7s ease;
}
.zoom-right-before{
  opacity: 0;
  margin-left: -150px;
  transition: all 0.7s ease;
}
/*@keyframes potrait {
  0% {
    transform:scale(0,0) rotateY(180deg);
    opacity: 0;
  }
  100% {
    transform:scale(1,1) rotateY(0deg);
    opacity: 1;
  }
}*/
#kevPicOuter{
  /*transform-style: preserve-3d;*/
}

#kevPic{
  border: 5px solid white;
  border-radius: 50%;
  width: 250px;
  position: absolute;
  transform-style: preserve-3d;
  /*position: relative;*/
/*  animation-name: potrait;
  -webkit-animation-name: potrait;
  -moz-animation-name: potrait;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1.5s;*/
  -webkit-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
  z-index: 11;
  margin-top: 170px;
  /*position: absolute;*/
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  opacity: 0;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.4);
  /*left: -50px;*/
  /*animation-delay: 1s;*/
  /*margin-bottom: 200px;*/
  transform: translateZ(20px);
}

/*.header{
  margin-top: 50px;
}*/
#aboutMeText{
  /*position: absolute;*/
  /*margin-top: 450px;*/
}
.header1{
  margin-top: 450px;
  /*left: -200px;*/
  /*position: absolute;*/
  opacity: 0;
}
#kevPortfolioText{
  /*border: 2px solid red;*/
    /*opacity: 0;*/
    
    /*display: hidden;*/
    /*display: inline;*/
    font-size: 50px;
  position: absolute;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  left:49%;
  margin-left: -430px;
  /*display:inline-block;*/
        /**display:inline; /*IE7*/*/
  /*left: -40px;*/
  /*margin-top: 450px;*/
  /*right: 0;*/
  /*opacity: 0;*/
  }
#kevPortfolioText2{
    display: none;

  }
.kevPortfolioTextLi{
  position: absolute;
  opacity: 0;
  text-shadow: 3px 3px rgba(0,0,0,0.5);
}
#portText1{
   left: -50px;
}
#portText2{
   left: -15px;
}
#portText3{
   left: 15px;
}
#portText4{
   left: 45px;
}
#portText5{
   left: 60px;
}
#portText6{
   left: 110px;
}
#portText7{
   left: 150px;
}
#portText8{
   left: 185px;
}
#portText9{
   left: 215px;
}
#portText10{
   left: 230px;
}
#portText11{
   left: 260px;
}
#portText12{
   left: 310px;
}
#portText13{
   left: 340px;
}
#portText14{
   left: 370px;
}
#portText15{
   left: 420px;
}
#portText16{
   left: 455px;
}
#portText17{
   left: 490px;
}
#portText18{
   left: 515px;
}
#portText19{
   left: 540px;
}
#portText20{
   left: 570px;
}
#portText21{
   left: 605px;
}
#portText22{
   left: 625px;
}
#portText23{
   left: 645px;
}
.white-text{
  margin-top: 20px;
}
.link{
  max-width: 100%;
  border: 5px solid rgba(0,150,255,0.2);
  border-radius: 20px;
  padding: 10px;
  color: #F9FF56;
  text-shadow: 1px 1px black;
  /*margin-bottom: 210px;*/
  /*position: relative;*/
}
.material-icons{
  color: black;
  cursor: pointer;
}
.mobile-pic{
  /*border: 2px solid black;*/
  border-radius: 50px;
  width: 70px;
  /*margin-left: 50%;*/
  margin-top: 10px;
}
#navbar{
  background-color: black;
  margin-bottom: 20px;
  display: block;
  height: 62px;
}
#navbar a{
  font-size: 16px;
  display: inline-block;
  line-height: 37px;
  height: 60px;
  padding: 12px 30px;
  top: -10px !important;
}
#navbar a.active, #navbar a:hover{
  background-color: #333;
}
footer{
  text-align: center;
}
.svg{
  width: 100%;
  object-fit: cover;
}
nav ul a,
nav .brand-logo {
  color: #444;
}
.semi-white{
  background-color: rgba(255,255,255,0.9);
}
#navey-nav{
  position: fixed;
  z-index: 200;
  border-bottom: 2px solid black;
}
#navey-nav2{
  position: fixed;
  z-index: 200;
  border-bottom: 2px solid black;
}
.navey-nav-wrapper{
  margin-top: 135px;
}
#project1Pic, .highlightText, #project4Pic, #artPic, #animationPic, #travelPic, #bannerPic{
  max-width: 100%;
  /*border: 5px solid rgba(0,150,255,0.2);*/
  border-radius: 20px;
  padding: 10px;
}
.hidden{
  visibility: hidden;
}
.no-opacity{
  opacity: 0;
  transition: all 0.5s ease;
  -webkit-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
}
.opacity{
  opacity: 1;
  transition: all 0.5s ease;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
 .highlightText{
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  border: 5px solid rgba(0,150,255,0.2);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  /*height: 320px;*/
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
 .highlightText:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  /*width: 500px !important;*/
  -webkit-transform: scale(1.07);
  -ms-transform: scale(1.07);
  transform: scale(1.07);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
 }
#project4Pic{
  /*margin-top: 40px;*/
}
p {
  line-height: 2rem;
}
.paralax{
  position: relative;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.project{
  float: left;
  margin-top: 20px;
  margin-bottom: 30px;
}
.parallax-container .section {
  width: 100%;
}
#resume-pdf{
  padding: 10px;
}
#sidenav-overlay{
    z-index: 999 !important;
    position: inherit;
  }
#travelPic{
  /*margin-top: 35px;*/
}
.text-shadow{
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3); 
}
.text{
  font-size: 20px;
}
#wordWrap{
  word-wrap: break-word;
}
.z{
  opacity: 0;
}




@media only screen and (max-width : 992px) {
  #aboutMeText{
    font-size: 20px;
    margin-bottom: 50px;
  }
  #down-arrow{
    width: 5%;
  }
  #hobbies{
    margin-top: -80px;
  }
  #index-banner .section {
    top: 10%;
    /*background: black;*/
  }
  .gallery-pic, .button, .hightlightText{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
  }
  .gallery-pic:hover, .button:hover, .hightlightText:hover{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
  }
  .header1{
    margin-top: 120px;
  }
  .header2{
    margin-top: -10px !important;

  }
  #kevPic{
    width: 150px;
    margin-top: -50px;
  }
  .black-ring{
    width: 250px;
    margin-top:-50px;
  }

  .kevPortfolioText{
    font-size: 23px;
    margin-top: -30px;
  }
  #kevPortfolioText2{
    display: initial;
    position: absolute;
    left: -100px;
    right: 0;
    margin: auto;
    opacity: 0;
    /*left: 50%;*/
    /*text-align: center;*/
  }
  #kevPortfolioText{
    display: none;
  }
  #navey-nav{
    position: fixed;
    /*top: 0 !important;*/
  }
  #sidenav-overlay{
    z-index: 999 !important;
  }
  .navey-nav-wrapper{
    margin-top: -100px !important;
  }
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  .samples{
    
    display: none;
  }
  h2{
    font-size: 45px;
  }
  #samples-orig{
    display: inline;
    
    position: absolute;
    margin-left:0 auto;
    text-align: center;
    margin-left: -2%;
    width: 90%;
    margin-right:0 auto;
  }
  .text-shadow{
    text-shadow: 2px 2px #black;
  }
  #navbar a{
    padding: 12px 10px;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  #aboutMeText{
    font-size: 1.3em;
  }
  .interestsText{
    margin-top: -50px;
  }
  .gallery-pic, .button, .highlightText{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
  }
  .gallery-pic:hover, .button:hover, .highlightText:hover{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    border: 5px solid rgba(0,150,255,0.2);
    box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
  }
  .header1{
    margin-top: 70px;
  }
  .header2{
    margin-top: -60px !important;
  }
  .header3, .header4{
    margin-top: 0px !important;
  }
  .button:hover{
    background-color: #33ccff;
    border: 5px solid rgba(0,0,0,0.2);
    box-shadow: 10px 10px 10px rgba(0,0,0, 0.0);  
  }
  #kevPortfolioText{
    font-size: 22px;
    margin-top: -10px;
  }

  #kevPic{
    width: 100px;
    margin-top: -50px;
  }
  #kev-text{
    position: relative;
    margin-left: 25px !important;
  }
  .black-ring{
    width: 180px;
    margin-top: -60px;
  }
  .link, .link:active, .link:hover{
    border: 2px solid rgba(0,0,0,0.0);
  }
  .contact-wrap{
    border: 5px solid rgba(0,150,255,0.1);
    border-radius: 20px;
    padding: 10px;
  }
  .contact-wrap:hover{
    border: 5px solid rgba(0,150,255,0.5);
    box-shadow: 5px 5px 5px rgba(0,0,0.0.3);
    border-radius: 20px;
  }
  /*.navey-nav-wrapper{
  margin-top: -100px !important;
}*/
.yellow-text{
  color: #F9FF56;
}
  .samples{
    /*font-size: 30px;*/
  }
  #navbar a{
    padding: 12px 5px;
  }
  #sidenav-overlay{
    z-index: 999 !important;
  }
  h2{
    font-size: 35px;
  }
}


