/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 #aboutMeText{
  margin-bottom: 50px;
}
#AmLogo{
  margin-top: 10px;
  margin-bottom: 47px;
  margin-right: 50px;
  padding: 20px;
  border: 5px solid rgba(0,255,255,0.1);
  border-radius: 20px;
  max-width: 100%;
}
#artPic, #animationPic{
  margin-bottom: 13px;
}
#bannerPic{
}
body{
  /*font-family: 'Fjalla One', sans-serif;*/
  /*font-family: 'Yanone Kaffeesatz', sans-serif;*/
  font-family: 'Acme', Tahoma, sans-serif;
}
button{
  display: inline;
  margin-top: 20px;
  background-color: lightblue;
  border-radius: 20px;
  border: 5px solid rgba(255,255,255, 0.2);
}
.button-collapse {
  color: #26a69a;
}
button:hover{
  border: 5px solid white;
}
.center-text{
  text-shadow: 2px 3px black;
}
#down-arrow{
  margin-left: 50px;
}
#email, .white{
  color: white;
  text-decoration: none !important;
}
footer.page-footer {
  margin: 0;
}
#GaLogo{
  border: 5px solid rgba(0,255,255,0.1);
  border-radius: 20px;
  max-width: 100%;
}
#GaLogo:hover, #AmLogo:hover, #project1Pic:hover, .highlightText:hover, #project4Pic:hover, #artPic:hover, #animationPic:hover, #bannerPic:hover, #travelPic:hover, .link:hover{
  border: 5px solid rgba(0,255,255,1);
  border-radius: 20px;
}
h5{
  margin-bottom: 15px;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
#kevPic{
  border: 5px solid white;
  border-radius: 50%;
  width: 30%;
}
.link{
  max-width: 100%;
  border: 5px solid rgba(0,255,255,0.1);
  border-radius: 20px;
  padding: 7px;
  color: blue;
}
nav ul a,
nav .brand-logo {
  color: #444;
}
.navey-nav{
  position: fixed;
  z-index: 200;
  border-bottom: 2px solid black;
}
.navey-nav-wrapper{
  margin-top: 40px;
}
#project1Pic, .highlightText, #project4Pic, #artPic, #animationPic, #travelPic, #bannerPic{
  max-width: 100%;
  border: 5px solid rgba(0,255,255,0.2);
  border-radius: 20px;
  padding: 10px;
}
#project4Pic{
  margin-top: 40px;
}
p {
  line-height: 2rem;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.project{
  float: left;
}
.parallax-container .section {
  width: 100%;
}
#travelPic{
  margin-top: 35px;
}
.text{
  font-size: 20px;
}
#wordWrap{
  word-wrap: break-word;
}




@media only screen and (max-width : 992px) {
  #aboutMeText{
    font-size: 20px;
    margin-bottom: 50px;
  }
  #down-arrow{
    width: 5%;
  }
  #hobbies{
    margin-top: -80px;
  }
  #index-banner .section {
    top: 10%;
  }
  #kevPic{
    width: 20%;
  }
  .kevPortfolioText{
    font-size: 25px;
    margin-top: -30px;
  }
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #samples{
    font-size: 35px;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .interestsText{
    margin-top: -50px;
  }
  .kevPortfolioText{
    font-size: 25px;
    margin-top: -10px;
  }
  #kevPic{
    width: 30%;
  }
  #samples{
    font-size: 30px;
  }
}


