a{
  border: 3px solid rgba(0,0,0,0.0);
  padding: 20px;
}

a:visited, a:active, a:hover{
  color: white;
}

body{
  color: white;
  font-family: 'Indie Flower', cursive;
}

.bg {
  background: url('bg.jpg') ;
  background-size: 1000px;
  position: fixed;
  /*width: 100%;*/
  height: 500%;
  top:0;
  left:0;
  z-index: -3;
}

#backgroundText{
  font-size: 20px;
  /*margin-top: 1400px;*/
}

#backgroundPic{
  width: 1800px;
  height: 1300px;
  display: cover;
  position: absolute;
  top: 00px;
  /*opacity: 50%;*/
  z-index: -2;
}

#blueFish{
  margin-top: 600px;
  margin-left: -600px;
  position: absolute;
}

#bubbles{
  width: 250px;
  margin-top: 900px;
  z-index: -3;
  margin-right: 50px;
}

#bubs{
  width: 250px;
  height: 250px;
  position: absolute;
  top: 600px;
  margin-left: 900px;
  z-index: -1;
}

#chest{
  margin-top: 2000px;
}

#contact{
  margin-top: 4700px;
  position: absolute;
  margin-bottom: 200px;
  margin-left: 50px;
}

#contactKevin{
  font-size: 50px;
}

.container{
  color: white;
  font-family: 'Architects Daughter', cursive;
}

#crab{
  width: 250px;
  height: 250px;
  position: absolute;
  top: 900px;
  margin-left: 250px;
}


#downArrow{
  position: absolute;
  margin-top: 520px;
  width: 07%;
  margin-left: 400px;
}

.link{
  color: white;
  text-decoration: underline;
}

.link:hover{
  color: lightblue;
}

.nonHighlightLink:hover{
  color: lightblue;
  border: solid 3px rgba(0,0,0,0.0);
}

.mg{
  background: url('mg.jpg') ;
  background-size: 1000px;
  position: fixed;
  width: 100%;
  height: 500%;
  top:0;
  left:0;
  z-index: -1;
}

.fg{
  background: url('fg.jpg') ;
  background-size: 1000px;
  position: fixed;
  /*width: 100%;*/
  height: 500%;
  margin-top: 800px;
  top:0;
  left:0;
  z-index: 2;
}

.farMiddleGround{
  background: url('farMiddleGround.jpg') ;
  background-size: 1000px;
  position: fixed;
  /*width: 100%;*/
  height: 500%;
  margin-top: 800px;
  top:0;
  left:0;
  z-index: -2;
}

#foregroundPoint{
  font-size: 45px;
  position: absolute;
  margin-top: 700px;
  right: -280px;
}

#foregroundText{
  font-size: 70px;
}

#firstParagraph{
  position: absolute;
  margin: 30px;
  font-size: 75px;
}

.fa fa-arrow-circle-down{
  font-size: 250px;
}

#GaLogo, #AmLogo{
  padding: 20px;
  border: 3px solid rgba(255,255,255,0.1);
  border-radius: 20px;
}

#GaLogo:hover, #AmLogo:hover, a:hover{
  border: 3px solid lightblue;
  padding: 20px;
  border-radius: 20px;
}


#goldfish{
  margin-top: -200px;
  margin-right: -500px;
}

#hobbies{
  margin-top: 4100px;
  position: absolute;
}


li, h1, p, h2, ul, a{
  color: white;
  font-family: 'Architects Daughter', cursive;
  font-size: 25px;
}

.link{
  font-size: 30px;
  border: 3px solid rgba(255,255,255,0.2);
  border-radius: 20px;
  margin-top: 50px;
  text-decoration: none;
  padding: 10px;
}

.link:hover{
  text-decoration: none;
  padding: 10px;
}

#kevinPic{
  width: 300px;
  border: 10px solid black;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  z-index: -1;
  margin-top: 50px;
}

#name{
  font-size: 85px;
}

#paragraphOne{
  top: 20px;
  width: 800px;
  float: right;
  margin-right: 60px;
  max-width: 800px;
}

#paragraphTwo{
  top: 500px;
  position: absolute;
  left: 60px;
  /*max-width: 800px;*/
}

#paragraphThree{
  position: absolute;
  margin-top: 1000px;
  max-width: 800px;
  margin-left: 60px;
}

#paragraphFour{
  position: absolute;
  margin-top: 1900px;
  /*max-width: 800px;*/
}

#project4Pic, #project1Pic{
  width: 500px;
  height: 250px;
  border-radius: 10px;
  border: 5px solid white;
  margin: 30px;
}

#project1{
  margin-top: 2500px;
  position: absolute;
  margin-left: 60px;
}

#project4{
  margin-top: 3300px;
  position: absolute;
  margin-left: 50px;
}

#project4link, #project1link{
  font-size: 40px;
  border: 3px solid rgba(255,255,255,0.2);
  text-decoration: none;
}

#project4link:hover, #project1link:hover{
  border: 3px solid lightblue;
}

/*ul{
  position: absolute;
  right: 150px;
  margin-top: 300px;
}*/

/*#firstParagraph{
  position: absolute;
  left: 60px;
  width: 600px  ;
}

#fourthParagraph{
  position: absolute;
  margin-top: 700px;
}*/

.reggaefish{
  width: 80%;
  margin-left: 700px;
  margin-top: 2000px;
}

.resumeLink{
  color: white;
  font-size: 30px;
  text-decoration: none;
  border: 3px solid rgba(255,255,255,0.2);
  border-radius: 20px;
}

.resumeLink{
  text-decoration: none;
}

.resumeLink:hover{
  color: lightblue;
  text-decoration: none;
}

section {
  /*color: #fff;*/
  font-family: arial;
  width: 600px;
  margin: auto;
  line-height: 20px;
  font-size: 16px;
}

#scroll{
  font-size: 60px;
  margin-top: 60px;
}

#scubaGirl{
  width: 150px;
  margin-top: 100px;
  /*position: absolute;*/
  /*right: 100px;*/
}

#scubaSteve{
  width: 350px;
  /*float: right;*/
  margin-top: 750px;
  margin-left: 800px;
  /*margin-right: 50px;*/
  right: 0px;
}

#shark{
  margin-top: 900px;
  /*position: absolute;*/
  width: 10%;
  height: 10%;
}

#showcase{
  font-size: 50px;
}

#smallSwimmingFish{
  margin-top: -100px;
}

#sunUnderWater{
  width: 1400px;
}

#sunglassFish{
  position: absolute;
  margin-top: -300px;
  margin-left: 900px;
}

#swimmingfishone{
  width: 400px;
  margin-top: -250px;
  /*position: absolute;*/
  margin-left: 200px;
}

.text{
  line-height: 60px;
}

#thirdParagraph{
  position: absolute;
  margin-top: 700px;
}

#toonTreasureChest{
  width: 400px;
  position: absolute;
  top: 800px;
  margin-left: 800px;
  /*right: 400px;*/
}

#turtle{
  width: 200px;
  position: absolute;
  top: -350px00px;
  margin-left: 300px;
}

ul{
  /*position: absolute;*/
  /*margin-top: 800px;*/
}

#yellowFish{
  width: 250px;
  /*float: right;*/
  margin-top: -250px;
  margin-left: 600px;
  /*margin-right: 50px;*/
  right: 0px;
}

@media (max-width: 1050px) {

#project4link, #project1link{
  font-size: 40px;
  border: 3px solid rgba(255,255,255,0.0);
}

#backgroundPic{
  height: 1500px;
  width: 1050px;
}

#GaLogo, #AmLogo{
  margin-left: -20px;
  width: 500px;
}

#kevinPic{
  width: 300px;
}

#paragraphOne{
  margin-top: 0px;
  width: 600px;
  float: right;
  margin-right: 60px;
  max-width: 800px;
}

#paragraphThree{
  margin-top: 900px;
  width: 90%;
  margin-left: 20px;
}

#paragraphFour{
  margin-top: 1900px;
  max-width: 450px;
  margin-left: 420px;
}

#name{
  font-size: 50px;
}

.text{
  font-size: 30px;
}

#scroll{
  font-size: 30px;
  margin-top: 100px;
  /*position: absolute;*/
}

#showcase{
  font-size: 25px;
}

#project1{
  margin-top: 2500px;
  position: absolute;
  margin-left: 0px;
  max-width: 350px;
}

#project1link{
  font-size: 10px;
}

#project4Pic, #project1Pic{
  max-width: 450px;
  height: 250px;
}

#paragraph4Text{
  margin-left: 70px;
}

a, p{
  font-size: 20px;
}

#project4{
  margin-top: 3600px;
  position: absolute;
  margin-left: -80px;
}

#project4link, #project1link{
  font-size: 40px;
}

#hobbies{
  margin-top: 4400px;
  max-width: 500px;
}

#contact{
  max-width: 200px;
  font-size: 20px;
  margin-top: 5000px;
  margin-bottom: 50px;
}

#toonTreasureChest{
  top: 1000px;
  margin-left: 550px;
  width: 350px;
}

#bubs{
  margin-left: 600px;
  top: 900px;
}

#sunglassFish{
  margin-left: 700px;
}

#blueFish{
  margin-top: 1800px;
  margin-left: 200px;
}

#crab{
  width: 250px;
  top: 1050px;
  margin-left: 250px;
  height: 200px;
}

#swimmingfishone{
  margin-left: -550px;
  width: 200px;
  margin-top: 450px;
}

#yellowFish{
  margin-left: -50px;
  width: 250px;
  margin-top: 1250px;
}

#scubaSteve{
  margin-left: 500px;
  width: 300px;
  margin-top: 1100px;
}

#goldfish{
  margin-left: -250px;
  margin-top: 00px;
}
}


@media (max-width: 800px) {

#backgroundPic{
  height: 1600px;
  width: 800px;
}

#sunglassFish{
  margin-left: 800px;
}

#bubs{
  margin-left: 430px;
  width: 150px;
  margin-top: 150px;
}

#GaLogo, #AmLogo{
  margin-left: -20px;
  width: 500px;
}

#blueFish{
  margin-left: 900px;
}

#kevinPic{
  width: 300px;
}

#paragraphOne{
  margin-top: 0px;
  width: 375px;
  float: right;
  margin-right: 60px;
  max-width: 800px;
}

#paragraphThree{
  margin-top: 1000px;
  width: 90%;
  margin-left: 20px;
}

#paragraphFour{
  margin-top: 1800px;
  max-width: 450px;
  margin-left: 120px;
}

#name{
  font-size: 30px;
}

.text{
  font-size: 30px;
}

#scroll{
  font-size: 20px;
  margin-top: 200px;
  /*position: absolute;*/
}

#showcase{
  font-size: 25px;
}

#project1{
  margin-top: 2300px;
  position: absolute;
  margin-left: 0px;
  max-width: 350px;
}

#project1link{
  font-size: 10px;
}

#project4Pic, #project1Pic{
  max-width: 450px;
  height: 250px;
}

#paragraph4Text{
  margin-left: 70px;
}

a, p{
  font-size: 20px;
}

#project4{
  margin-top: 3300px;
  position: absolute;
  margin-left: -80px;
}

#project4link, #project1link{
  font-size: 40px;
}

#hobbies{
  margin-top: 4000px;
  max-width: 500px;
}

#contact{
  max-width: 200px;
  font-size: 20px;
  margin-top: 4700px;
  margin-bottom: 250px;
}

#toonTreasureChest{
  top: 1220px;
  margin-left: 380px;
  width: 250px;
}

#crab{
  width: 150px;
  top: 1260px;
  margin-left: 250px;
  height: 150px;
}

#swimmingfishone{
  margin-left: -150px;
  width: 200px;
  margin-top: 430px;
}

#yellowFish{
  margin-left: 50px;
  width: 250px;
  margin-top: 50px;
}

#scubaSteve{
  margin-left: 300px;
  width: 300px;
  margin-top: 1100px;
}

#goldfish{
  margin-left: -250px;
  margin-top: 00px;
}
}

@media (max-width: 700px) {

#backgroundPic{
  height: 900px;
  width: 700px;
}

#GaLogo, #AmLogo{
  margin-left: -20px;
  width: 300px;
}

#kevinPic{
  width: 200px;
}

#paragraphOne{
  margin-top: 0px;
  width: 300px;
  float: right;
  margin-right: 60px;
  max-width: 800px;
}

#paragraphThree{
  margin-top: 600px;
  width: 90%;
  margin-left: 20px;
}

#paragraphFour{
  margin-top: 1300px;
  max-width: 450px;
  margin-left: 120px;
}

#name{
  font-size: 30px;
}

.text{
  font-size: 20px;
}

#scroll{
  font-size: 20px;
  margin-top: -200px;
  /*position: absolute;*/
}

#showcase{
  font-size: 25px;
}

#project1{
  margin-top: 1800px;
  position: absolute;
  margin-left: 0px;
  max-width: 650px;
}

#project1link{
  font-size: 10px;
}

#project4Pic, #project1Pic{
  max-width: 250px;
  height: 150px;
}

#paragraph4Text{
  margin-left: 70px;
}

a, p{
  font-size: 20px;
}

#project4{
  margin-top: 2700px;
  position: absolute;
  margin-left: -80px;
}

#project4link, #project1link{
  font-size: 40px;
}

#hobbies{
  margin-top: 3300px;
  max-width: 500px;
}

#contact{
  max-width: 500px;
  font-size: 20px;
  margin-top: 3800px;
  margin-bottom: 100px;
}

#toonTreasureChest{
  top: 610px;
  margin-left: 380px;
  width: 150px;
  margin-bottom: 50px;
}

#crab{
  width: 150px;
  top: 610px;
  margin-left: 150px;
  height: 150px;
}

#swimmingfishone{
  margin-left: -150px;
  width: 200px;
  margin-top: 430px;
}

#yellowFish{
  margin-left: 50px;
  width: 250px;
  margin-top: 50px;
}

#scubaSteve{
  margin-left: 300px;
  width: 200px;
}

#goldfish{
  margin-left: -250px;
  margin-top: 00px;
}

#smallSwimmingFish{
  margin-top: 50px;
}
}




@media (max-width: 400px) {

#bubs{
  left: -225px;
  width: 100px;
}

#backgroundPic{
  height: 1800px;
  width: 700px;
}

#GaLogo, #AmLogo{
  margin-left: -20px;
  width: 300px;
}

#kevinPic{
  width: 150px;
  margin: 10px;
}

#paragraphOne{
  margin-top: 155px;
  width: 300px;
  float: right;
  margin-right: 60px;
  max-width: 800px;
}

#paragraphThree{
  margin-top: 600px;
  width: 90%;
  margin-left: 20px;
}

#paragraphFour{
  margin-top: 1500px;
  max-width: 350px;
  margin-left: -20px;
}

#name{
  font-size: 30px;
}

.text{
  font-size: 20px;
}

#scroll{
  font-size: 20px;
  margin-top: 00px;
}

#showcase{
  font-size: 25px;
}

#project1{
  margin-top: 2000px;
  position: absolute;
  margin-left: 0px;
  max-width: 350px;
}

#project1link{
  font-size: 10px;
}

#project4Pic, #project1Pic{
  max-width: 250px;
  height: 150px;
}

#paragraph4Text{
  margin-left: 70px;
}

a, p{
  font-size: 20px;
}

#project4{
  margin-top: 3000px;
  position: absolute;
  margin-left: -80px;
}

#project4link, #project1link{
  font-size: 40px;
}

#hobbies{
  margin-top: 3700px;
  max-width: 300px;
}

#contact{
  max-width: 400px;
  font-size: 20px;
  margin-top: 4400px;
  margin-bottom: 250px;
  left: -50px;
}

#toonTreasureChest{
  top: 1210px;
  margin-left: 180px;
  width: 150px;
}

#crab{
  width: 150px;
  top: 1210px;
  margin-left: 50px;
  height: 150px;
}

#swimmingfishone{
  margin-left: -150px;
  width: 200px;
  margin-top: 430px;
}

#yellowFish{
  margin-left: 50px;
  width: 250px;
  margin-top: 50px;
}

#scubaSteve{
  margin-left: 100px;
  width: 200px;
}

#smallSwimmingFish{
  margin-top: -40px;
}

#goldfish{
  margin-left: -250px;
  margin-top: 00px;
}

}

